In [1]:
import pandas as pd

In [24]:
import nltk

In [7]:
positive_tweets = pd.read_csv('../_datasets/tweets-ru-sentiment/positive.csv', sep = ';', header = None)
positive_tweets.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,408906692374446080,1386325927,pleease_shut_up,"@first_timee хоть я и школота, но поверь, у на...",1,0,0,0,7569,62,61,0
1,408906692693221377,1386325927,alinakirpicheva,"Да, все-таки он немного похож на него. Но мой ...",1,0,0,0,11825,59,31,2
2,408906695083954177,1386325927,EvgeshaRe,RT @KatiaCheh: Ну ты идиотка) я испугалась за ...,1,0,1,0,1273,26,27,0
3,408906695356973056,1386325927,ikonnikova_21,"RT @digger2912: ""Кто то в углу сидит и погибае...",1,0,1,0,1549,19,17,0
4,408906761416867842,1386325943,JumpyAlex,@irina_dyshkant Вот что значит страшилка :D\nН...,1,0,0,0,597,16,23,1

In [8]:
negative_tweets = pd.read_csv('../_datasets/tweets-ru-sentiment/negative.csv', sep = ';', header = None)

In [45]:
tweets = pd.concat([positive_tweets, negative_tweets], ignore_index=True)[[3, 4]]

In [46]:
tweets.rename_axis({3: 'text', 4:'label'}, axis = 1, inplace = True)
tweets.head()

                                                text  label
0  @first_timee хоть я и школота, но поверь, у на...      1
1  Да, все-таки он немного похож на него. Но мой ...      1
2  RT @KatiaCheh: Ну ты идиотка) я испугалась за ...      1
3  RT @digger2912: "Кто то в углу сидит и погибае...      1
4  @irina_dyshkant Вот что значит страшилка :D\nН...      1

In [47]:
tweets.shape

(226834, 2)

In [48]:
tweets.loc[1, 'text']

'Да, все-таки он немного похож на него. Но мой мальчик все равно лучше:D'

In [19]:
from nltk import TweetTokenizer

In [42]:
tokenizer = TweetTokenizer()